.bundle
tmp/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
public/assets/
config/database.yml
config/config.yml
public/uploads/
public/editor/*
public/topics
public/topics/**/*
public/upload_old/*
.redcar
.DS_Store
*.swp
*.swo
bin/
config/database.yml
