.bundle
tmp/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
public/assets/
config/database.yml
config/config.yml
public/uploads/
public/editor/*
public/pages
public/upload_old/*
public/book/
public/oldblog.tar.gz
public/yzgc/
.redcar
.DS_Store
*.swp
*.swo
bin/
config/database.yml
.rvmrc
.idea/*
