<% unless flash[:notice] || flash[:error] %>
  <div class="alert alert-success">
    欢迎使用,点击左侧栏使用。
  </div>
<%end%>

<!--[if (IE 6) | (IE 7)]>
  <div class = "alert alert-error">
    <h1>您的浏览器版本太低,存在安全问题，请使用ie8以上版本浏览器，推荐 chrome 和 firefox浏览器</h1>
    <br />
    
    <a href="https://www.google.com/intl/en/chrome/browser/"><h3>下载chrome</h3></a>
    <a href="http://www.firefox.com.cn/download/"><h3>下载firefox</h3></a>
  </div>
<![endif]-->
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
    <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error">
    <%= flash[:error] %>
    <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>
