<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
dim rs,cap,id
//id=cint(left(request.QueryString("id"),8))+0
cap=left(request.QueryString("name"),12)
<body>
<table border="0" cellspacing="0">
<TR>
          <TD><TABLE cellSpacing=0 cellPadding=0 width=566 align=center border=0>
        <TBODY>
        <TR>
          <TD width=358 height=4></TD>
          <TD width=2><IMG height=1 src="assets/spacer.gif" width=1></TD>
          <TD></TD></TR>
        <TR>
          <TD><img height=122 src="assets/6.jpg" width=358 /></TD>
          <TD><IMG height=1 src="assets/spacer.gif" width=1></TD>
          <TD vAlign=bottom background=assets/bg_02.gif>
            <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
              <TBODY>
              <TR>
                <TD align="left"><IMG height=41 hspace=25 src="assets/chuangx.jpg" 
                  width=81 vspace=4></TD>
              </TR>
              <TR>
              <TD background=assets/bg_03.gif 
              height=20>&nbsp;</TD></TR></TBODY></TABLE></TD></TR>
        <TR>
          <TD height=4></TD>
          <TD><IMG height=1 src="assets/spacer.gif" width=1></TD>
          <TD></TD></TR></TBODY></TABLE></TD>
  </TR>
  <tr>
    <td valign="top" align="center"><table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tbody>
          <tr>
            <td width="16"><img height="22" 
                        src="assets/bit_03.gif" width="16" /></td>
            <td width="15" bgcolor="#f4f4f4">&nbsp;</td>
            <td align="left" 
                    bgcolor="#f4f4f4" class="nr01"><strong>当前位置&gt;&gt;创新竞赛</strong></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
    </table>
        <table width="100%" height="400" 
                  border="0" align="center" cellpadding="0" cellspacing="0" class="box01">
          <tbody>
		  <tr><td valign="top" height="350"><p>&nbsp;</p>
		  <table width="100%" align="left">
		  set rs=server.CreateObject("adodb.recordset")
	  			rs.open "Select * From [chuangxtype]",conn,1,1
				if rs.recordcount=0 then
					Response.Write("对不起，此栏目还没有文章…")
				else
			do while not (rs.eof)
  <tr>
    <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;&gt;&nbsp;<a href="chuangx.asp?typeid==rs("typeid")&name==rs("name")">=rs("name")</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>			
				
				
				
				rs.movenext
    	    loop
			end if
			rs.close
			call CloseConn()
		  </table></td></tr>
			<tr><td colspan="2" align="center" valign="top">
			</td>
			</tr>
          </tbody>
      </table>    </td>
  </tr>
</table>
</body>
</html>
