<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
<body>
<TBODY>
        <TR>
          <TD vAlign=top align=left width=570>
            <table width="570" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="540" height="218">
                  <param name="movie" value="assets/wc.swf" />
                  <param name="quality" value="high" />
                  <embed src="assets/wc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="540" height="218"></embed>
                </object></td>
              </tr>
              <tr>
                <td>　</td>
              </tr>
            </table>
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
              <TBODY>
              <TR>
                <TD vAlign=top align=left>
                  <TABLE cellSpacing=0 cellPadding=0 width=362 border=0>
                    <TBODY>
                    <TR>
                      <TD width=16><IMG height=22 
                        src="assets/bit_03.gif" width=16></TD>
                      <TD width=15 bgColor=#e0e8f8>　</TD>
                      <TD class=nr01 
                    bgColor=#e0e8f8><STRONG>教务通知</STRONG></TD>
                    </TR>
                    <TR>
                      <TD>　</TD>
                      <TD>　</TD>
                      <TD>　</TD></TR></TBODY></TABLE>
                  <TABLE cellSpacing=0 cellPadding=0 width=340 align=center 
                  border=0>
                  <TBODY>
                    <% @news.each do |n| %>
                      <tr>
                        <td valign="top" width="75" height="20">
                          <%= n.created_at.strftime("%Y-%m-%d") %>
                        </td>
                        <td align="left">
                          <font color="#092d70">
                            <%=  link_to n.title, '#',:style => "color:#092D70" %>
                          </font>
                        </td>
                      </tr>
                    <% end %>

					</TBODY></TABLE>
                  <TABLE cellSpacing=0 cellPadding=0 width=340 align=center 
                  border=0>
                    <TBODY>
                    <TR>
                      <TD class=nr02 align=right height=24><A 
                        href="caption">更多&gt;&gt;</A>                      </TD>
                    </TR></TBODY></TABLE></TD>
                <TD vAlign=top width=190>
                  <TABLE cellSpacing=0 cellPadding=0 width=190 border=0>
                    <TBODY>
                    <TR>
                      <TD align=left width=20 
                      background=assets/bg_01.jpg bgColor=#990000 
                      height=21><IMG height=14 hspace=5 
                        src="assets/bit_02.gif" width=4></TD>
                      <TD align=left background=assets/bg_01.jpg 
                      bgColor=#990000><strong><font color="#ffffff">关于我们</font></strong></TD>
                    </TR>
                    <TR>
                      <TD>　</TD>
                      <TD>　</TD></TR></TBODY></TABLE>
                  <TABLE cellSpacing=0 cellPadding=0 width=190 border=0>
                    <TBODY>
                    <TR>
                      <TD class=nr02 
                        align=left><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td colspan="2"><strong>愿景</strong>(Our Vision)</td>
                        </tr>
                        <tr>
                          <td width="16%">　</td>
                          <td width="84%">致力公平</td>
                        </tr>
                        <tr>
                          <td>　</td>
                          <td>追求卓越</td>
                        </tr>
                        <tr>
                          <td>　</td>
                          <td>营造和谐</td>
                        </tr>
                        <tr>
                          <td colspan="2"><strong>使命</strong>(Our Mission)</td>
                        </tr>
                        <tr>
                          <td>　</td>
                          <td>开发优质教学资源</td>
                        </tr>
                        <tr>
                          <td>　</td>
                          <td>搭建教师才华施展平台</td>
                        </tr>
                        <tr>
                          <td>　</td>
                          <td>提供全面课程服务</td>
                        </tr>
                        <tr>
                          <td>　</td>
                          <td>拓展学生个性发展空间</td>
                        </tr>
                      </table>
                      </TD>
                    </TR>
                    <TR>
                      <TD class=nr02 align=right height=40><a href="main2.html" target="_self">详细内容 
                      &gt;&gt;</a> </TD>
                </TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
            <form id="form1" style="height:20px" name="form1" method="post" action="Login">
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
              <TBODY>
              <TR>
                <TD vAlign=top align=left>
                  <TABLE cellSpacing=0 cellPadding=0 width=362 border=0>
                    <TBODY>
                    <TR>
                      <TD width=16><IMG height=22 
                        src="assets/bit_03.gif" width=16></TD>
                      <TD width=15 bgColor=#e0e8f8>　</TD>
                      <TD 
                    bgColor=#e0e8f8 class=nr01><strong>《教学简讯》</strong></TD>
                    </TR>
                    <TR>
                      <TD>　</TD>
                      <TD>　</TD>
                      <TD>　</TD></TR></TBODY></TABLE>
                  <table width="340">
				<tr class="header">
        
        <td width="200" align="left"></td>
        <td align="center"><a href="#" onClick="MM_openBrWindow('JxT.asp?dat=&name=&id=)','','scrollbars=yes,resizable=yes,width=860,height=750')">《教学简讯第</a>          </td>
      </tr>
		  </table>
                  <table cellspacing="0" cellpadding="0" width="340"
                  border="0">
                        <tbody>
                          <tr>
                            <td class="nr02" align="right" height="24"><a 
                        href="jx.asp">更多&gt;&gt;</a> </td>
                          </tr>
                        </tbody>
                      </table>          </TD>
               <td width="190" align="center" valign="top">
			   <table width="190" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <TD align=left width=20 
                      background=assets/bg_01.jpg bgColor=#990000 
                      height=21><IMG height=14 hspace=5 
                        src="assets/bit_02.gif" width=4></TD>
                <td align="left" background="/assets/bg_01.jpg" bgcolor="#990000"><strong><font color="#FFFFFF">用户登录</font></strong></td>
              </tr>
              <tr>
                <td>　</td>
                <td>　</td>
              </tr>
         <tr>
                <td>　</td>
                <td>　</td>
         </tr>
            </table>
              <table width="170">
        <tr>
	    	<td align="center" class="box01"><a href="admin" target="_top">管理员登录</a></td>
		</tr>
         <tr>
                <td>　</td>
                <td>　</td>
         </tr>
         <tr>
                <td>　</td>
                <td>　</td>
         </tr>
        </table>
        <table width="190" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <TD align=left width=20 
              background=assets/bg_01.jpg bgColor=#990000 
              height=21><IMG height=14 hspace=5 
              src="assets/bit_02.gif" width=4>
            </TD>
            <td align="left" background="/assets/bg_01.jpg" bgcolor="#990000"><strong><font color="#FFFFFF">挂靠单位</font></strong></td>
         </tr>
         <tr>
                <td>　</td>
                <td>　</td>
         </tr>
            </table>
			<table width="190" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left">教育技术中心</td>
				  <td align="left"></td>
                </tr>
               <tr>
                  <td align="left"></td>
				  <td align="left"></td>
                </tr>
            </table>
			</td>
        </tr>
      </table>
			</form></td>
    <td width="25"><img src="/assets/spacer.gif" width="1" height="1"></td>
  </tr>

</body>
</html>
