<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=urf-8" />
<title>无标题文档</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="566">
  <tr>
    <td valign="top" align="left"><table cellspacing="0" cellpadding="0" width="566" align="center" border="0">
      <tbody>
        <tr>
          <td width="358" height="4"></td>
          <td width="2"><img height="1" src="/assets/spacer.gif" width="1" /></td>
          <td></td>
        </tr>
        <tr>
          <td><img height="122" src="/assets/1.jpg" width="358" /></td>
          <td><img height="1" src="/assets/spacer.gif" width="1" /></td>
          <td valign="bottom" background="/assets/bg_02.gif"><table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tbody>
              <tr>
                <td><img height="41" hspace="35" src="/assets/0705212031044949.jpg" 
                  width="81" vspace="4" /></td>
              </tr>
              <tr>
                <td background="/assets/bg_03.gif" 
              height="20">&nbsp;</td>
              </tr>
            </tbody>
          </table></td>
        </tr>
        <tr>
          <td height="4"></td>
          <td><img height="1" src="/assets/spacer.gif" width="1" /></td>
          <td></td>
        </tr>
      </tbody>
    </table>
        <table cellspacing="0" cellpadding="0" width="100%" border="0">
          <tbody>
            <tr>
              <td width="16"><img height="22" 
                        src="/assets/bit_03.gif" width="16" /></td>
              <td width="15" bgcolor="#f4f4f4">&nbsp;</td>
              <td align="left" 
                    bgcolor="#f4f4f4" class="nr01"><strong>当前位置&gt;&gt;<span>个人空间</span></strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table width="510" border="0" align="center" cellpadding="0" cellspacing="0" class="nr03">
          <tbody>
            <tr>
              <td height="30">此空间专为方便暂存和交流文件而设，请勿上传较大的文件，及时对过时的文件进行清理以节省空间。各目录为成员自行管理，不在系统备份之列。</td>
            </tr>
            <tr>
              <td height="300" align="center" class="box01"><p>              
                <p>
                <p>--学业学籍科--<br />
                      <a href="http://210.44.176.116/~zzq/" target="_blank"><strong>郑兆青</strong></a>　　<a href="http://210.44.176.116/~fj/" target="_blank"><strong>费　杰</strong></a>　　<a href="http://210.44.176.116/~lzj/" target="_blank"><strong>吕滋建</strong></a><br />
                --选课中心--<br />
                <a href="http://210.44.176.116/~yxj/" target="_blank"><strong>伊学军</strong></a>　　<a href="http://210.44.176.116/~zy/" target="_blank"><strong>曾　莹</strong></a>　　<a href="http://210.44.176.116/~xmg/" target="_blank"><strong>谢明岗</strong></a>  <br />              
                
		--考务科--<br />
                      <a href="http://210.44.176.116/~nxd/" target="_blank"><strong>牛学东</strong></a>　　<br />                
                <p></td>
            </tr>
            <tr>
              <td align="right" class="nr02">&nbsp;</td>
            </tr>
          </tbody>
      </table></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
<tr>
	<td height=100></td>
</tr>
