<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<TBODY>
        <TR>
          <TD vAlign=top align=left width=570>
            <table width="570" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="540" height="218">
                  <param name="movie" value="/assets/wc.swf" />
                  <param name="quality" value="high" />
                  <embed src="/assets/wc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="540" height="218"></embed>
                </object></td>
              </tr>
              <tr>
                <td><table cellspacing="0" style="margin-top:10px" cellpadding="0" width="100%" border="0">
                  <tbody>
                    <tr>
                      <td width="16"><img height="22" 
                        src="/assets/bit_03.gif" width="16" /></td>
                      <td width="15" bgcolor="#e0e8f8">&nbsp;</td>
                      <td class="nr01" 
                    bgcolor="#e0e8f8"><strong>About Us</strong></td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                      <td height="5"></td>
                      <td height="5"></td>
                    </tr>
                  </tbody>
                </table>
                  <table width="98%" border="0"  align="center" style="margin-bottom:20px" class="titlenor">
  <tbody>
    <tr>
      <td width="500" height="24" align="left" valign="top"><strong>Our Vision</strong>
        <ul>
          <li>Devote  ourselves to the justice, seek for the perfect, and make for the harmony</li>
        </ul>
        <strong>Our Mission</strong>
        <ul>
          <li>Develop  the qualified education resources,and set the stage for teachers to display  their brilliance</li>
          <li>Offer  the comprehensive service for all cources,expand the development space for the  talented students</li>
        </ul>
        <strong>Our Attitude Toward Work        </strong>
        <ul>
          <li>Joy,Perseverance,Standardization,Innovation</li>
        </ul>
        <strong>Our Ideas About Getting Along With People</strong>
        <ul>
          <li>Think  more of others' feeling</li>
          <li>Look  more at others' merit</li>
          <li>Concern  more about others' difficulty</li>
          <li>Listen  to more of others' suggestion </li>
        </ul></td>
    </tr>
  </tbody>
</table></td>
              </tr>
            </table>
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
            </TABLE>
          </td>
          <td width="25"><img src="..//assets/spacer.gif" width="1" height="1"></td>
  </tr>

</body>
</html>



