<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<TBODY>
        <TR>
          <TD vAlign=top align=left width=570>
            <table width="570" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="540" height="218">
                  <param name="movie" value="/assets/wc.swf" />
                  <param name="quality" value="high" />
                  <embed src="/assets/wc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="540" height="218"></embed>
                </object></td>
              </tr>
              <tr>
                <td><table cellspacing="0" style="margin-top:10px" cellpadding="0" width="100%" border="0">
                  <tbody>
                    <tr>
                      <td width="16"><img height="22" 
                        src="/assets/bit_03.gif" width="16" /></td>
                      <td width="15" bgcolor="#e0e8f8">&nbsp;</td>
                      <td class="nr01" 
                    bgcolor="#e0e8f8"><strong>站内搜索</strong></td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                      <td height="5"></td>
                      <td height="5"></td>
                    </tr>
                  </tbody>
                </table>
                  <table width="98%" border="0"  align="center" style="margin-bottom:20px" class="titlenor">
                    <tbody>
                      <tr>
                        <td>

                          <!-- Put the following javascript before the closing </head> tag. -->
                        <script>
                          (function() {
                            var cx = '006994886842953772589:oboovdj0pye';
                            var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com.hk/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
                          })();
                        </script>

                        <!-- Place this tag where you want both of the search box and the search results to render -->
                        <gcse:search></gcse:search>

                      </td>
                    </tr>
                  </tbody>
</table></td>
              </tr>
            </table>
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
            </TABLE>
          </td>
          <td width="25"><img src="..//assets/spacer.gif" width="1" height="1"></td>
  </tr>

</body>
</html>



