<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>无标题文档</title>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<table>
			<tr>
				<td valign="top" align="center"><table cellspacing="0" cellpadding="0" width="566" align="center" border="0">
						<tbody>
							<tr>
								<td width="358" height="4"></td>
								<td width="2"><img height="1" src="/assets/spacer.gif" width="1" /></td>
								<td></td>
							</tr>
							<tr>
								<td><img height="122" src="/assets/guiz.jpg" width="358" /></td>
								<td><img height="1" src="/assets/spacer.gif" width="1" /></td>
								<td valign="bottom" background="/assets/bg_02.gif"><table cellspacing="0" cellpadding="0" width="100%" border="0">
										<tbody>
											<tr>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td background="/assets/bg_03.gif" 
													height="20">&nbsp;</td>
											</tr>
										</tbody>
								</table></td>
							</tr>
							<tr>
								<td height="4"></td>
								<td><img height="1" src="/assets/spacer.gif" width="1" /></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<table cellspacing="0" cellpadding="0" width="100%" border="0">
						<tbody>
							<tr>
								<td width="16"><img height="22" 
									src="/assets/bit_03.gif" width="16" /></td>
								<td width="15" bgcolor="#f4f4f4">&nbsp;</td>
								<td align="left" 
									bgcolor="#f4f4f4" class="nr01"><strong>当前位置&gt;&gt;教务管理系统</strong></td>
							</tr>
						</tbody>
					</table>
					<table border="0" cellpadding="0" cellspacing="0" width="519">
						<tr>
							<td>
								<div class="componentheading">
									&nbsp;</div>
								<table align="center"
									width="100%">
									<tr>
										<td width="60%" colspan="2" align="center" valign="top" bordercolor="#333333" class="box01">
											<p>
											欢迎使用<font color="#ff0000" face="Verdana">山东理工大学现代教务管理系统</font>。请选择登录系统：</p>
											<p align="center" style="height: 200px">
											<br />
											<br />
											<br />
											<br />
											<a href="http://210.44.176.43/" target="_blank"><strong><font color="#666666" size="4"><span
															style="text-decoration: underline">★ 服务器一</span></font></strong></a><br />
											<br />
											<a href="http://210.44.176.44/" target="_blank"><strong><font color="#666666" size="4"><span
															style="vertical-align: middle; text-decoration: underline">★ 服务器二</span></font></strong></a><br/><br/>

											<a href="http://210.44.176.45/" target="_blank"><strong><font color="#666666" size="4"><span
                                                            style="vertical-align: middle; text-decoration: underline">★ 服务器三</span></font></strong></a></p><br />
											<a href="http://210.44.176.46/" target="_blank"><strong><font color="#666666" size="4"><span
															style="vertical-align: middle; text-decoration: underline">★ 服务器四</span></font></strong></a></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<p>&nbsp;</p>
	</body>
</html>

