<div class="modal hide fade">
  <div class="modal-header">
    <p>分类</p>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-body">
      <%= form_for [:admin, @section, @category], :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
      
      <div class="control-group">
        <%= f.label "分类名:", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions">
          <%= f.submit '发布', :class => 'btn btn-primary' %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>

