<%= form_for [:admin,@message_channel, @message_type], :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
     栏目名: <%= f.text_field :name, :class => 'number_field' %>
     <%= f.submit '提交', :class => 'btn' %>
     <%= link_to '返回', admin_message_channels_path, :class=>'btn'%>
     </div>
<%end%>
