<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<TBODY>
        <TR>
          <TD vAlign=top align=left width=570>
            <table width="570" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="540" height="218">
                  <param name="movie" value="/assets/wc.swf" />
                  <param name="quality" value="high" />
                  <embed src="/assets/wc.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="540" height="218"></embed>
                </object></td>
              </tr>
              <tr>
                <td><table cellspacing="0" style="margin-top:10px" cellpadding="0" width="100%" border="0">
                  <tbody>
                    <tr>
                      <td width="16"><img height="22" 
                        src="/assets/bit_03.gif" width="16" /></td>
                      <td width="15" bgcolor="#e0e8f8">&nbsp;</td>
                      <td class="nr01" 
                    bgcolor="#e0e8f8"><strong>关于我们</strong></td>
                    </tr>
                    <tr>
                      <td height="5"></td>
                      <td height="5"></td>
                      <td height="5"></td>
                    </tr>
                  </tbody>
                </table>
                  <table width="98%" border="0"  align="center" style="margin-bottom:20px" class="titlenor">
  <tbody>
    <tr>
      <td height="24" align="left" valign="top"><strong>愿景</strong>(Our Vision)
        <ul>
          <li>致力公平、追求卓越、营造和谐</li>
        </ul>
        <strong>使命</strong>(Our Mission)
        <ul>
          <li>开发优质教学资源、搭建教师才华施展平台</li>
          <li>提供全面课程服务、拓展学生个性发展空间</li>
        </ul>
        <strong>工作理念</strong>(Our Attitude Toward Work)
        <ul>
          <li>快乐、敬业、规范、创新</li>
        </ul>
        <strong>与人相处</strong>(Our Ideas About Getting Along With People)
        <ul>
          <li>多想别人的感受</li>
          <li>多看别人的长处</li>
          <li>多问别人的困难</li>
          <li>多听别人的建议</li>
        </ul></td>
    </tr>
  </tbody>
</table></td>
              </tr>
            </table>
            <TABLE cellSpacing=0 cellPadding=0 width=570 border=0>
            </TABLE>
          </td>
          <td width="25"><img src="..//assets/spacer.gif" width="1" height="1"></td>
  </tr>

</body>
</html>



