<tbody>
  <tr>
    <td vAlign=top align=left width=570><table width="566" border="0" cellspacing="0">
        <tr>
          <td>
            <table width="568" border="0" cellspacing="0">
              <tr>
                <td width="48%"><img height=122 src="/assets/1.jpg" width=358 /><IMG height=1 src="/assets/spacer.gif" width=1></td>
                <td width="52%" vAlign=bottom background=/assets/bg_02.gif>
                  <table cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <tbody>
                      <tr> <td><IMG height=41 hspace=25 src="/assets/jig.jpg" width=81 vspace=10></td> </tr>
                      <tr> <td background=/assets/bg_03.gif height=20>&nbsp; </td> </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <tbody>
              <tr>
                <td vAlign=top align=left width=570>
                  <table cellSpacing=0 cellPadding=0 width=570 border=0>
                    <tbody>
                      <tr>
                        <td colspan="2" align=left vAlign=top>
                          <table cellSpacing=0 cellPadding=0 width=560 border=0>
                            <tbody>
                              <tr>
                                <td width=16><IMG height=22 src="/assets/bit_03.gif" width=16></td>
                                <td width=15 bgColor=#f4f4f4>&nbsp;</td>
                                <td class=nr01 bgColor=#f4f4f4><StrONG>成员简介</StrONG></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                          <table cellSpacing=0 cellPadding=0 width=340 align=center border=0>
                            <tbody>
                              <% @people.each do |p| %>
                                <tr>
                                  <td width = 100><%= p.created_at.strftime("%Y-%m-%d") %></td>
                                  <td><%= link_to p.name,organization_path(p),:style =>"color:#092D70" %></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td width="190">&nbsp;
                        </td>
                      </tr>
                    </tbody>
                    <table cellSpacing=0 cellPadding=0 width=560 border=0>
                      <tbody>
                        <tr>
                          <td width=16><IMG height=22 src="/assets/bit_03.gif" width=16></td>
                          <td width=15 bgColor=#f4f4f4>&nbsp;</td>
                          <td class=nr01 bgColor=#f4f4f4><StrONG>工作职责</StrONG></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table cellSpacing=0 cellPadding=0 width=340 align=center border=0>
                      <tbody>
                        <% @organization.each do |o| %>
                          <tr>
                            <td width=101><%= o.created_at.strftime("%Y-%m-%d") %></td>
                            <td><%= link_to o.name,organization_path(o),:style =>"color:#092D70" %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="190">&nbsp; </td>
                </tr>
              </tbody>
        </td>
      </tr>
    </table>
  </td>
  <td width="25"><img src="/assets/spacer.gif" width="1" height="1"></td>
</tr>
